@media (max-width: 480px)
  body
    font-size: 16px
    line-height: 24px
    h1
      font-size: 45px
      line-height: 67.5px

    #banner
      #bannertext
        top: 20%
        left: 10%
        width: 80%
        a
          color: #fff
          font-size: 40px
        a:hover
          text-decoration: none
          
    #content
      padding: 0 20px
      h3
        font-size: 24px
        line-height: 36px
      .section
        p:last-child
          margin-bottom: 20px
    
    footer
      .media-links
        padding: 10px 0
        margin: 0
        font-size: 24px
        line-height: 24px
        li
          line-height: 24px