@import 'bootstrap/mixins'
@import 'variables'

@media (min-width: $screen-tablet)
  body
    font-size: $font-size-base
    
    h1
      font-size: 90px
    h3
      font-size: 41px
      
    #banner #banner-text
      top: 20%
      #scroll-down
        font-size: 50px

    footer .media-links
      font-size: 40px    
        
@media (min-width: $screen-desktop)
  body
    background-size: cover
    
    #banner #banner-text
      text-shadow: 0 0 10px $shadow-color, 0 0 20px $shadow-color, 0 0 40px $shadow-color
      position: fixed
      top: 20%
      bottom: 0
      left: 25%
      width: 50%

    #content
      background: rgba(#fff,.8)
      padding: 20px
      
      .section p:last-child
        margin-bottom: 45px

    footer
      padding: 0 20px
      .media-links
        padding: 20px 0